@model Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-fix-center mb-3">
    <h3 class="card-header">@Model.Name</h3>
    <div class="card-body">
        @if (Model.NumberAvailable == 0)
        {
            <h5 class="card-title">Movie unavailable at the moment</h5>
        }
        else
        {
            <h5 class="card-title">Movie available, wanna rent it? Check out the store!</h5>
        }
        <h6 class="card-subtitle text-muted"></h6>
    </div>
    <div class="text-center">
        <img src="~/css/movie.png" class="icon mr-4 rounded" alt="Movie Icon"/>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Movie name: @Html.DisplayFor(model => model.Name)</li>
            <li class="list-group-item">Genre: @Html.DisplayFor(model => model.Genre.Name)</li>
            <li class="list-group-item">
                Release date:
                @if (Model.ReleaseDate.HasValue)
                {
                    @Model.ReleaseDate.Value.ToString("d MMM yyyy")
                }
                else
                {
                    @Html.DisplayFor(model => model.ReleaseDate)
                }
            </li>
            <li class="list-group-item">Added date: @Model.DateAdded.ToShortDateString()</li>
            <li class="list-group-item">Available movies: <span class="badge bg-primary rounded-pill">@Html.DisplayFor(model => model.NumberAvailable)</span></li>
        </ul>
    </div>
    <div class="card-footer text-muted">
        We serve only best movies!
    </div>
</div>