@model IEnumerable<Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p id="new">
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter customers data to search..." id="search-input" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="search-btn">Search</button>
    </div>

    <table id="customers" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.ActionLink(customer.Name + " " + customer.Surname, "Edit", "Customers", new { id = customer.Id }, null)
                </td>
                <td>
                    @customer.MembershipType.DiscountRate%
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
                <td>
                    <button class="btn btn-warning" onclick="deleteCustomer(@customer.Id)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    //razor
    <div class="d-flex justify-content-center">
        <div class="w-100">
            <ul class="pagination">
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @{
                    int startPage = (ViewBag.CurrentPage - 1) / 10 * 10 + 1;
                    var endPage = startPage + 9;
                    if (endPage > ViewBag.TotalPages)
                    {
                        endPage = ViewBag.TotalPages;
                    }
                }
                @for (var i = startPage; i <= endPage; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                    </li>
                }
                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-100">
            <label for="page-size-select" class="form-label">
                <select id="page-size-select" class="form-select w-100" onchange="updatePageSize()">
                    <option value="" disabled selected hidden>Records per page (currently @ViewBag.PageSize)</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </label>
        </div>
        <div class="w-100">
            <form method="get" action="@Url.Action("Index", new { pageSize = ViewBag.PageSize })">
                <div class="form-group mx-sm-3">
                    <div class="input-group mb-3">
                        <input type="number" min="1" max="@ViewBag.TotalPages" class="form-control" id="jumpToPage" name="page" placeholder="Jump To Page  (value from 1 to @ViewBag.TotalPages)">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary" id="button-addon2">Jump</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="pageSize" value="@ViewBag.PageSize">
            </form>
        </div>
    </div>
    <div class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are about to delete this customer. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirm" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-info" id="close" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}



@*page size dropdown*@
<script>
    function updatePageSize() {
        var pageSize = document.getElementById("page-size-select").value;
        var url = new URL(window.location.href);
        url.searchParams.set("pageSize", pageSize);
        window.location.href = url;
    }
</script>
@*remove customer from the table row and the database*@
<script>
    function deleteCustomer(id) {
        //document.querySelector('.modal').style.display = 'block';
        setTimeout(function () {
            $('.modal').fadeIn(1500);
        });
        document.querySelector('#confirm').onclick = function () {
            fetch('/api/customers/' + id, { method: 'DELETE' })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }
    // Adding click event to close button
    document.querySelector('.btn-close').addEventListener('click', () => {
        setTimeout(function () {
            $('.modal').fadeOut(1500);
        });
    });
    document.querySelector('.btn-info').addEventListener('click', () => {
        setTimeout(function () {
            $('.modal').fadeOut(1500);
        });
    });

</script>
@*searchbar functionality*@
<script>
    document.getElementById("search-btn").addEventListener("click", function () {
        var searchTerm = document.getElementById("search-input").value;
        $.ajax({
            type: "GET",
            url: "/Customers/Search",
            data: { searchTerm: searchTerm },
            success: function (response) {
                var $customers = $("#customers tbody");
                $customers.empty();
                if (response.length == 1) {
                    var target = document.getElementById("new");
                    if (target) {
                        target.insertAdjacentHTML('afterend', `<div class="card text-white bg-success mb-3 center-div" style="max-width: 20rem;">
                <div class="card-header">Success</div>
                <div class="card-body">
                    <h4 class="card-title">Search complete</h4>
                    <p class="card-text">Succesfully found one matching user.</p>
                </div>
            </div>`);
                        setTimeout(function () {
                            $('.center-div').fadeOut(1500);
                        }, 3000);
                    }
                }
            
                    if(response.length > 1) {
            var target = document.getElementById("new");
            if (target) {
                target.insertAdjacentHTML('afterend', `<div class="card text-white bg-success mb-3 center-div" style="max-width: 20rem;">
                <div class="card-header">Success</div>
                <div class="card-body">
                    <h4 class="card-title">Search complete</h4>
                    <p class="card-text">Succesfully found ${response.length} matching users.</p>
                </div>
            </div>`);
                setTimeout(function () {
                    $('.center-div').fadeOut(1500);
                }, 3000);
            }
        }

        if (response.length == 0) {
            var target = document.getElementById("new");
            if (target) {
                target.insertAdjacentHTML('afterend', `<div class="card text-white bg-danger mb-3 center-div" style="max-width: 20rem;">
                            <div class="card-header">Not found</div>
                                <div class="card-body">
                                    <h4 class="card-title
                                    ">Search complete</h4>
                                    <p class="card-text">No matching users found.</p>
                                    </div>
                                    </div>`);
                setTimeout(function () {
                    $('.center-div').fadeOut(1500);
                }, 3000);
            }
        }
        //console.log(response.length);
                $.each(response, function (index, customer) {
                    $customers.append(`<tr>
                            <td>
                                <a href="/Customers/Edit/${customer.id}">${customer.name} ${customer.surname}</a>
                            </td>
                            <td>
                                ${customer.membershipType.discountRate}%
                            </td>
                            <td>
                                ${customer.membershipType.name}
                            </td>
                            <td>
                                <button class="btn btn-warning" onclick="deleteCustomer(${customer.id})">Delete</button>
                            </td>
                                </tr>`);
                }); 
            },
        });
    });
</script>
@*pagination active highlight*@
<script>
$ (function () {
    var url = window.location.href;
    var activePage = url;
    $('.pagination li a').each(function () {
        var linkPage = this.href;
        if (activePage == linkPage) {
            $(this).closest("li").addClass("active");
        }
    });
});
</script>